$fondo-color: #393939;
$texto-color: white;
$tamaño-texto: 18px;
$tamaño-tituloagenda: 25px;

.cuerpo-home {
  background-color: $fondo-color;
  overflow-x: hidden;
}

.banners-organizan {
  text-align: center;

}

.img-ban-org{
    width: 100px;
   
}

.img-ban-org-rec{
    width: 170px;
    
}
        


.banner-pattern {
  & img {
    max-width: 200px;
  }

  & h2 {
    text-align: center;
    font-size: $tamaño-texto;
    color: $texto-color;
  }
}

.banner-sponsor {
  & img {
    max-width: 200px;
  }

  & h2 {
    text-align: center;
    font-size: $tamaño-texto;
    color: $texto-color;
  }
}

.titulo-agenda{
    color: $texto-color;
    
    font-size: $tamaño-tituloagenda;
}

.trigar-logo {
  width:290px;
  
}

.cronogramaimg {
    width: 500px;
}
.contenedor-agenda-logo{
    text-align: center;
}


@media (max-width: 470px) {
  
    .img-ban-org{
        width: 85px;
    
    }

    .img-ban-org-rec{
        width: 120px;
    }

  .banner-pattern {
      
    & img {
      max-width: 120px;
    }
    & h2 {
      font-size: 19px;
    }
  }

  .banner-sponsor {
    & img {
      max-width: 120px;
    }
    & h2 {
      font-size: 19px;
    }
  }

  .trigar-logo {
    width: 170px;
  }

  .contenedor-img-agenda-ft{
      text-align: center;
  }

  .cronogramaimg{
      width: 360px;
      
      
  }

}
