<div class="cuerpo-home">
  <div class="slider-home">
    <img
      src="https://images.unsplash.com/photo-1602896757245-e40f86d4c228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80"
      alt="slider-home" width="100%" height="30%">
  </div>

  <!--BANNERS ORGANIZAN-->
  <div>
    <div class="banners-organizan">
      <img src="../../../assets/images/logosOrganizadores/BolsaCerealescordoba.png" alt="bolsa cereales cordoba">
      <img src="../../../assets/images/logosOrganizadores/BolsadeCereales.png" alt="bolsa cereales">
      <img src="../../../assets/images/logosOrganizadores/BolsaCerealesBahiaB.png" alt="bolsa bahia blanca">
      <img src="../../../assets/images/logosOrganizadores/Clubleones.png" alt="club leones">
      <img src="../../../assets/images/logosOrganizadores/MinisterioAgriculturaganaderia.png"
        alt="ministerio agricultura y ganaderia">
      <img src="../../../assets/images/logosOrganizadores/Cordobaentretodos.png" alt="cordoba entre todos">

    </div>
  </div>
  <!--BANNERS DIVIDIDOS-->

  <div class="d-flex flex-row bd-highlight justify-content-around">

    <!-- SPONSORS -->
    <div class="banner-sponsor">
      <h2>SPONSORS</h2>
      <img src="../../../assets/images/logosOrganizadores/BolsaCerealesBahiaB.png" alt="bolsa bahia blanca">
      <img src="../../../assets/images/logosOrganizadores/Clubleones.png" alt="club leones">
    </div>

    <!-- PATERNS -->
    <div class="banner-pattern">
      <h2>PATERNS</h2>
      <img src="../../../assets/images/logosOrganizadores/BolsaCerealesBahiaB.png" alt="bolsa bahia blanca">
      <img src="../../../assets/images/logosOrganizadores/Clubleones.png" alt="club leones">

    </div>

  </div>


  <!-- AGENDA Y SPEAKERS -->
  <div class="d-flex justify-content-center">

    <img class="trigar-logo" src="../../../assets/images/logos/Trigar.png" alt="Trigar">

    <div>


    </div>
  </div>

  <!-- CRONOGRAMA CON TRIGUITOS -->
  <div class="contenedor-agenda-logo">
    <img src="../../../assets/images/logos/Fiestanacionaltrigo.png" alt="fiesta nacional del trigo" width=" 310px">
    <h2 class="titulo-agenda">Sábado 13 de febrero</h2>
  </div>

  <div class="d-flex justify-content-center align-items-end">

    <div class="cronogramaimg">
      <img src=".../../../../../assets/images/agenda/cronograma-1-23.png" alt="cronograma1-23">
    </div>

    <div class="cronogramaimg">
      <img src=".../../../../../assets/images/agenda/cronograma-1-24.png" alt="cronograma1-24">
    </div>

  </div>
</div>
