<app-modal-form></app-modal-form>
<div #cuerpoHtml class="cuerpo-home">

    <!-- SLIDER -->
    <section id="inicio">
        <div *ngIf="!isMobile" class="slider-home">
            <img class="slider-img" src="../../../assets/images/fondo/Slider-del-sitio-web-1.jpg" alt="slider-home" width="100%">
        </div>

        <div *ngIf="isMobile" class="slider-home">
            <!-- <img class="slider-img" src="../../../assets/images/fondo/foto-del-slider.jpg" alt="slider-home" width="100%"> -->
            <div class="sliderMobile mx-auto">
                <img class="rounded mx-auto d-block" src="../../../assets/images/logos/fiesta-del-trigo-Nº65.png" width="75%" height="70%">
                <img class="rounded mx-auto d-block" src="../../../assets/images/logos/trigar-slider.png" width="75%" height="70%">
                <p class="textSlider">11 de febrero 18hs</p>
                <p class="textSlider">12 de febrero 09hs</p>
                <p class="textSlider pb-2">13 de febrero 09hs</p>

            </div>
        </div>
    </section>


    <!-- CARRUSEL -->
    <section id="logos">
        <div class="contenedor-carrusel">

            <div class="col col-md-12 text-center" style="padding: 5px;">
                <h2 class="tit-logos"> Sponsors </h2>
            </div>

            <ngx-slick-carousel id="carouselExampleControls" data-ride="carousel" class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                <div class="nav-btn prev-slide slick-arrow" aria-disabled="false"></div>

                <div ngxSlickItem *ngFor="let slide of slides" class="col slide">
                    <img src="../../../assets/images/sponsors/{{ slide.nombre }}.png" alt="carrusel" width="100%">
                </div>

                <div class="nav-btn next-slide slick-arrow" aria-disabled="false"></div>
            </ngx-slick-carousel>


            <!--BANNERS ORGANIZAN-->
            <!-- titulos patern y org -->
            <div class="container-fluid" style="margin-top: 25px;">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div>
                            <h2 class="tit-logos text-center" style="margin-right: 40px;">Paterns</h2>
                        </div>
                    </div>

                    <div class="col-10 col-md-10">
                        <div style="padding: 5px;">
                            <h2 class="tit-logos text-center">Organizan e invitan</h2>
                        </div>
                    </div>

                    <!-- Logos paterns y organizan -->

                    <div class="row">
                        <div class="col-2 col-md-2">
                            <img class="size-mo" src="../../../assets/images/patern/patern.png" alt="bolsa cereales cordoba">
                        </div>

                        <div class="col-10 col-md-10 d-flex flex-md-row align-items-center justify-content-around">
                            <div *ngFor="let image of images">
                                <img class="size-mo" src="../../../assets/images/logosOrganizadores/{{image}}.png" alt="logos-organizadores">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--SPONSOR FIESTA NACIONAL-->

            <div class="container-fluid" style="margin-top: 25px; padding-bottom: 15px;">
                <div class="row">

                    <div class="col col-md-12 text-center" style="padding: 5px;">
                        <h2 class="tit-logos"> Organizadores Oficiales </h2>
                    </div>

                    <div class="d-flex flex-md-row align-items-center">
                        <div class="col col-md" *ngFor="let logo of logosOficiales">
                            <img class="size-mo" src="../../../assets/images/logosOficiales/{{logo}}.png" alt="logos-oficiales">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!-- CRONOGRAMA CON FOTOS -->
    <section id="cronograma">
        <div class="fondo-crono-tri container-fluid">

            <img class="trigar-logo" src="../../../assets/images/logos/Trigar.png" alt="Trigar">

            <div class="container p-0 mx-auto ">
                <div class="row">

                    <div class="col col-md-6">
                        <h2 class="titulo-agenda"> Jueves 11 Febrero</h2>
                        <img class="cronogramaimg" src="../.../../../../assets/images/agenda/cronograma-1.png" alt="cronograma1">
                        <img class="cronogramaimg" src="../../../assets/images/agenda/Cronograma-2.png" alt="">
                    </div>

                    <div class="col col-md-6">
                        <h2 class="titulo-agenda"> Viernes 12 Febrero</h2>
                        <img class="cronogramaimg" src="../../../assets/images/agenda/cronograma-3.png" alt="">
                    </div>


                </div>
            </div>
        </div>
    </section>




    <!-- CRONOGRAMA CON TRIGUITOS -->
    <div class="fondo-crono-ft">

        <div class="contenedor-agenda-logo">
            <img src="../../../assets/images/logos/Fiestanacionaltrigo.png" alt="fiesta nacional del trigo" width=" 310px">
            <h2 class="titulo-agenda">Sábado 13 de febrero</h2>
        </div>

        <div class="container contenedor-img-agenda-ft d-flex justify-content-center">
            <div class="row">

                <div class="col-12 col-md-6 text-center">
                    <img class="cronogramaimg" src=".../../../../../assets/images/agenda/cronogramaFNT1.png" alt="cronograma1-23">
                </div>

                <div class="col-12 col-md-6 text-center">
                    <img class="cronogramaimg" src=".../../../../../assets/images/agenda/cronogramaFNT2.png" alt="cronograma1-24">
                </div>

            </div>
        </div>
    </div>

    <section id="historia">
        <div *ngIf="!isMobile" class="container mx-auto d-flex justify-content-center">
            <img class="imgHistoria " src="../../../assets/images/fondo/Historia.png">
        </div>

        <div *ngIf="isMobile" class="container mx-auto d-flex justify-content-center">
            <img class="imgHistoria " src="../../../assets/images/Historia/titile.png" width="100%">
        </div>

        <div *ngIf="isMobile" class="container containerHistoria p-0">
            <p class="textHistoria text-break">La Fiesta Nacional del Trigo es una de las festividades más antiguas del país. Este mega evento que se realiza cada año desde 1947 es una oportunidad de festejo para toda la familia donde el trigo es protagonista.</p>

            <div class="container p-0">
                <img class="imgHistoria " src="../../../assets/images/Historia/semillas.png" width="80%">
                <div class="rectangulo"></div>
            </div>

        </div>

        <div *ngIf="isMobile" class="container containerHistoria p-0 mt-3">
            <p class="textHistoria text-break">Organizada en la localidad de Leones, Capital Nacional del Trigo.</p>

            <div class="container p-0">
                <img class="imgHistoria " src="../../../assets/images/Historia/fase1.png" width="80%">
                <div class="rectangulo"></div>
            </div>

        </div>

        <div *ngIf="isMobile" class="container containerHistoria p-0 mt-3">
            <p class="textHistoria text-break">Este encuentro luego se declaró Fiesta Nacional en 1956 y constituye una de las conmemoraciones más tradicionales a los productores de este reconocido cereal.</p>

            <div class="container p-0">
                <img class="imgHistoria " src="../../../assets/images/Historia/fase2.png" width="80%">
                <div class="rectangulo"></div>
            </div>

        </div>

        <div *ngIf="isMobile" class="container containerHistoria p-0 mt-3">
            <p class="textHistoria text-break">En cada edición, ofrece un marco propicio para desarrollar jornadas trigueras nacionales y jornadas técnicas. A su vez, se realizan concursos nacionales de muestras de trigo y el clásico desfile de carrozas, alegorías y maquinarias.</p>

            <div class="container p-0">
                <img class="imgHistoria " src="../../../assets/images/Historia/fase3.png" width="80%">
                <div class="rectangulo"></div>
            </div>

        </div>

        <div *ngIf="isMobile" class="container containerHistoria p-0 mt-3">
            <p class="textHistoria text-break">Por su parte, este evento incluye la elección y coronación de la Reina Nacional del Trigo. Además, sobre sus escenarios se despliegan shows musicales y espectáculos artísticos durante las diversas jornadas.</p>

            <div class="container p-0">
                <img class="imgHistoria " src="../../../assets/images/Historia/fase4.png" width="80%">
                <div class="rectangulo"></div>
            </div>

        </div>
    </section>

    <!-- INSTRUCCIONES PARA INGRESAR AL STREAM -->
    <section id="stream">
        <div class="container inst-str">
            <div class="row">

                <h1 class="instrucciones-text">RECOMENDACIONES PARA EL STREAMING</h1>



                <div class="container containerStream mt-5">
                    <div class="row">
                        <div class="col-6 col-sm-3" style="max-height: 150px !important;">
                            <div class="text-center" style="max-height: 150px !important;">
                                <img class="imgStream" src="../../../assets/images/Recomendaciones/spotify.png">
                                <p class="fs-2 textStream text-break">Chequear que la conexión a internet sea estable.
                                </p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3" style="max-height: 150px !important;">
                            <div class="text-center" style="max-height: 150px !important;">
                                <img class="imgStream" src="../../../assets/images/Recomendaciones/bateria.png">
                                <p class="fs-2 textStream text-break">Asegúrate que tus dispositivos estén cargados.</p>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3" style="max-height: 150px !important;">
                            <div class="text-center">
                                <img class="imgStream" src="../../../assets/images/Recomendaciones/sofa.png">
                                <p class="fs-2 textStream text-break">Busca un sitio comodo.</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3" style="max-height: 150px !important;">
                            <div class="text-center">
                                <img class="imgStream" src="../../../assets/images/Recomendaciones/disfruta.png">
                                <p class="fs-2 textStream text-break">Prepárate para aprender y disfrutar.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="boton-contenedor mt-5">
                    <button class="boton-ing-str" type="button" (click)="openStream()">Ir al Streaming</button>
                </div>
            </div>
        </div>
    </section>
    <!-- finContainer -->

    <section id="contactos">
        <div class="container containerContacto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <img class="logosImgRedes mx-auto d-block" src="../../../assets/images/logos/Fiestanacionaltrigo.png" alt="" width="220" height="100">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                                <img src="../../../assets/images/Redes/fb_rojo.png" width="50px" height="50px">
                                <i class="bi bi-facebook textRedesSociales ">
                                    Fiesta Nacional del Trigo
                                </i>
                                <br>
                                <img src="../../../assets/images/Redes/inst_rojo.png" width="50px" height="50px">
                                <i class="bi bi-instagram textRedesSociales">
                                    Fiesta Nacional del Trigo
                                </i>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                                <img src="../../../assets/images/Redes/wsp_rojo.png" width="50px" height="50px">
                                <i class="bi bi-whatsapp textRedesSociales">
                                    +54 9 3472 43-7935
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <img class="logosImgRedes mx-auto d-block" src="../../../assets/images/logos/Trigar.png" alt="" width="220" height="73">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                                <img src="../../../assets/images/Redes/fb_celeste.png" width="50px" height="50px">
                                <i class="bi bi-facebook textRedesSociales">
                                    @CongresoTrigAR
                                </i>
                                <br>
                                <img src="../../../assets/images/Redes/inst_celeste.png" width="50px" height="50px">
                                <i class="bi bi-instagram textRedesSociales">
                                    @CongresoTrigAR
                                </i>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                                <img src="../../../assets/images/Redes/gmail_celeste.png" width="50px" height="50px">
                                <i class="bi bi-whatsapp textRedesSociales">
                                    info@trigar.com.ar
                                </i>
                                <br>
                                <img src="../../../assets/images/Redes/tw_celeste.png" width="50px" height="50px">
                                <i class="bi bi-instagram textRedesSociales">
                                    @CongresoTrigAR
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>