.fondoStream {
    background: #393939;
    background-image: url(../../../assets/images/fondo/fondo_festival.png);
    background-repeat: no-repeat;
    color: white;
}

.streaming {
    padding-top: 70px;
}